*{
    margin: 0px;
    padding: 0px;
}
.music { 
    color:#A6A6A6; 
    text-decoration:none; 
}
.music_table {
    width: 1000px;
    height: 150px;
    margin: auto;
    background: #161616;
}
@font-face {
    src : url("Lovelyn Free Personal Use.otf");
    font-family: "jua"
}
@font-face {
    src : url("SDMiSaeng.ttf");
    font-family: "sdm"
}
.font_1 {
    font-family: "jua";
    font-size: 50px;
    color:#f0ab8d;
}
.table {
    margin: 20px;
    margin-left: 40px;
    margin-right: 0px;
    color: #ffffff;
}
.button {
    background-color:skyblue;
}
.login {
    background-color:#262626;
    color:#ffffff;
}
.main {
    width: 1000px;
    background-image: url('img_sky/main_back.jpg');
    padding: 0px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner {
    color:#f0ab8d; 
    text-decoration:none; 
}
.list_banner {
    color:#f0ab8d; 
    text-decoration:none; 
}
body {
    background-color:#262626;
    padding: auto;
}

.floating { background-color:#262626; opacity: 0.5; border:2px solid #262626; position: fixed; right : 43%; top: 250px; margin-right: -615px; text-align:center; width:200px; }
.floating div:nth-child(2){ border:2px solid #A6A6A6; border-radius: 8px; }
.floating div:nth-child(3){ border:2px solid #A6A6A6; border-radius: 8px; }
.floating div:nth-child(4){ border:2px solid #A6A6A6; border-radius: 8px; }
.floating div:nth-child(5){ border:2px solid #A6A6A6; border-radius: 8px; }
.floating div:nth-child(6){ border:2px solid #A6A6A6; border-radius: 8px; }
.floating div:nth-child(7){ border:2px solid #A6A6A6; border-radius: 8px; }

.bottom_1 {
    margin-top: 70px;
    height: 50px;
    text-align: center;
    background-color:#737373;
}
.bottom_2 {
    height: 100px;
    text-align: center;
    background-color:#383838;
}
.bottom_row {
    height: 1px;
    background-color:#181818;
}
.music_list {
    color: #f0ab8d;
    font-family: "sdm";
    font-size: 100px;
}
.music_list_outside {
    width: 1000px;
    margin-bottom: 70px;
    background: url('img_sky/img.jpg');
}
.music_opacity {
    opacity: 0.5;
}
