*{
    margin: 0px;
    padding: 0px;
}
.music { 
    color:#A6A6A6; 
    text-decoration:none; 
}
.music_table {
    width: 1000px;
    height: 150px;
    margin: auto;
    background: #161616;
}
@font-face {
    src : url("Lovelyn Free Personal Use.otf");
    font-family: "jua"
}
@font-face {
    src : url("SDMiSaeng.ttf");
    font-family: "sdm"
}
.font_1 {
    font-family: "jua";
    font-size: 50px;
    color:#f0ab8d;
}
.table {
    margin: 20px;
    margin-left: 40px;
    margin-right: 0px;
    color: #ffffff;
}
.button {
    background-color:skyblue;
}
.login {
    background-color:#262626;
    color:#ffffff;
}
.main {
    width: 1000px;
    
    padding: 0px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner {
    color:#b39183; 
    text-decoration:none; 
}
.list_banner {
    color:#f0ab8d; 
    text-decoration:none; 
}
body {
    background-image: url('img_sky/back배경.jpg');
    background-size: 100%;
    background-attachment: fixed;
    padding: auto;
}
.co {
    width: 100%;
}
.co:hover {
    width: 100%;
    background-image: url(img_sky/구글_아이콘.png);
}

.floating_main_1 {border:none; position: fixed; right : 50%; top: 160px; margin-right: -615px; text-align:center; width:70px;}
.floating_main_1 div:nth-child(1){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_1 div:nth-child(2){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_1 div:nth-child(3){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_1 div:nth-child(4){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_1 div:nth-child(5){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_1 div:nth-child(6){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_1 div:nth-child(7){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 {border:none; position: fixed; right : 45%; top: 160px; margin-right: -615px; text-align:center; width:70px; }
.floating_main_2 div:nth-child(1){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 div:nth-child(2){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 div:nth-child(3){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 div:nth-child(4){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 div:nth-child(5){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 div:nth-child(6){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_2 div:nth-child(7){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 {border:none; position: fixed; right : 40%; top: 160px; margin-right: -615px; text-align:center; width:70px; }
.floating_main_3 div:nth-child(1){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 div:nth-child(2){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 div:nth-child(3){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 div:nth-child(4){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 div:nth-child(5){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 div:nth-child(6){ border:2px; border-radius: 8px; padding: 3px;}
.floating_main_3 div:nth-child(7){ border:2px; border-radius: 8px; padding: 3px;}


.bottom_1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#3a3a3a;
}
.bottom_2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#3a3a3a;
}
.bottom_font {
    color:rgb(167, 167, 167);
}
.bottom_font_li {
    color:#f0ab8d;
    text-decoration: none;
}
.bottom_row {
    height: 1px;
    background-color:#505050;
}
.bottom_top {
    margin-top: 70px;
    height: 1px;
    background-color:#f0ab8d;
}
.bottom_bottom {
    height: 1px;
    background-color:#f0ab8d;
}
.music_list {
    color: #f0ab8d;
    font-family: "sdm";
    font-size: 100px;
    position:relative;
}
.music_list_outside {
    width: 1000px;
    padding-bottom: 20px;
    margin-bottom: 200px;
}

/*목록*/
