*{
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('../img_sky/back배경.jpg');
    background-size: 100%;
    background-attachment: fixed;
    padding: auto;
    width: 100%;
    font-family: "Montserrat";
}
.benner{
    width: 97%;
    height: 30px;
    background-color: rgb(226, 60, 60);
    padding-left: 3%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}
.main_top {
    width: 97%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    padding-left: 3%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
}
.main_top_1 {
    float: left;
    width: 4%;
}
.main_top_2 {
    float: left;
    width: 64%;
    padding-top: 5px;
}
.main_top_3 {
    float: right;
    width: 13%;
    padding-top: 15px;
}
.main_center {
    width: 90%;
    background-color: rgba(49, 50, 53, 0.473);
    padding-top: 250px;
    padding-bottom: 70px;
    padding-left: 10%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
.main_bottom {
    width: 85%;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    padding-bottom: 700px;
    padding-left: 10%;
    padding-right: 5%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(41, 41, 41);
    font-weight: 500;
    height: 120px;
}
.main_bottom_1 {
    float: left;
    width: 75%;
}
.main_bottom_2 {
    float: right;
    width: 25%;
}
.default_font {
    font-size: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.top_instagram_font {
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}
.title_text_font {
    font-size: 30px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin-bottom: 20px;
}
.main_text_font {
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}



/*하단 배너 css*/
.bottom_1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#3a3a3a;
}
.bottom_2 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color:#3a3a3a;
}
.bottom_font {
    color:rgb(167, 167, 167);
}
.bottom_font_li {
    color:#f0ab8d;
    text-decoration: none;
}
.bottom_row {
    height: 1px;
    background-color:#505050;
}
.bottom_top {
    margin-top: 0px;
    height: 1px;
    background-color:#f0ab8d;
}
.bottom_bottom {
    height: 1px;
    background-color:#f0ab8d;
}


/*검색창 css*/
.searchbox{
    width: 90%;
    margin: 10px auto;
    height: 500px;
    overflow:auto;
}
.header{
    background: #ecdfbf;
    overflow: hidden;
    padding: 20px;
    text-align: center;
}
.header h1{
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 8px;
}
#value{
    border: none;
    background: #E0D3B6;
    padding: 6px;
    font-size: 18px;
    width: 80%;
    border-radius: 6px;
    color: white;
}
#value:focus{
    outline: none;
}
.container{
    background: #FFFFF5;
    padding: 1%;
}
.item{
    margin: 3% 0px;
    display: flex;
    align-items: center;
}
.icon{
    width: 25px;
    height: 25px;
    background: #E0D3B6;
    color: white;
    font-size: 15px;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    margin-right: 8px;
}
.name{
    font-size: 17px;
    font-weight: 470;
    color: #333;
}